<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판등록</title>
</head>
<body>

<h2>게시판 등록</h2>
<form action="/board/save" method="post" id="saveForm">
    <input type="text" placeholder="작성자" name="boardWriter"><br>
    <input type="text" placeholder="제목" name="boardTitle"><br>
    <input type="text" placeholder="비밀번호" name="boardPass"><br>
    <textarea name="boardContents" cols="30" rows="10" placeholder="내용"></textarea><br>
    <input type="submit" value="등록">


</form>

</body>
</html>